<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Unduh Data</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='download.css') }}">
</head>
<body>

  <!-- Pita Hijau Atas -->
  <div class="header-bar">
    <img src="{{ url_for('static', filename='images/icon_garis tiga.png') }}" class="menu-icon" onclick="toggleMenu()" alt="Menu">
  </div>

  <!-- Sidebar Menu -->
  <div id="sidebar" class="sidebar">
    <a href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='images/icon_home.png') }}" class="icon-menu"> Home
    </a>
    <a href="{{ url_for('input') }}">
      <img src="{{ url_for('static', filename='images/icon_input.png') }}" class="icon-menu"> Input Data
    </a>
    <a href="{{ url_for('prediksi') }}">
      <img src="{{ url_for('static', filename='images/icon_prediksi.png') }}" class="icon-menu"> Lihat Prediksi
    </a>
    <a href="{{ url_for('download') }}">
      <img src="{{ url_for('static', filename='images/icon_download.png') }}" class="icon-menu"> Download
    </a>
    <a href="{{ url_for('latihmodel') }}">
      <img src="{{ url_for('static', filename='images/icon_latihmodel.png') }}" class="icon-menu"> Pelatihan Data
    </a>
  </div>
  </div>
  
  <!-- Logo -->
  <div class="logo-container">
    <img src="{{ url_for('static', filename='images/logo_website.png') }}" class="logo" alt="Logo Website">
  </div>

  <!-- Judul -->
  <div class="judul">
    <h1>Unduh Data Prediksi dalam Format<br><span>PDF/XLSX</span></h1>
  </div>

  <!-- Garis & Tombol Di Tengah -->
  <div class="download-box">
    <hr class="box-line">
    <div class="download-container">
      <a href="{{ url_for('cetak_pdf') }}" class="btn pdf">.Pdf</a>
      <span class="atau">Atau</span>
      <a href="{{ url_for('download_excel') }}" class="btn xls">.Xlsx</a>
    </div>
    <hr class="box-line">
  </div>

  <!-- Script Sidebar -->
  <script>
    function toggleMenu() {
      document.getElementById('sidebar').classList.toggle('active');
    }
  </script>
</body>
</html>
